/* Disable dark theme for template app */
$enable-dark-mode: false !default;


/* 0. Bootstrap (required for brand + Paragon logic) */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* 1. Brand variables FIRST (override Paragon defaults) */
@import "~@edx/brand/paragon/variables";

/* 2. Brand fonts (optional but recommended) */
@import "~@edx/brand/paragon/fonts";

/* 3. Brand overrides (header, footer, colors, dark theme, etc.) */
@import "~@edx/brand/paragon/overrides";

/* 4. Paragon CSS (actual component styles) */
@import "~@openedx/paragon/dist/core.min.css";
@import "~@openedx/paragon/dist/light.min.css";


#root{
    background: #FBF4EF;
}
[dir="ltr"] .form-control {
    border-color: #CCCCCCFF;
}
.btn-primary{
    border: none;
}
h2{
    font-size: 3rem;
}


// -----------------temprory--------------------

:root {
  --pgn-color-primary-base: #69AB4A;
}
$primary: var(--pgn-color-primary-base) ;
#root{
    //------------------------------ Home--------------------------------------------------------------
    .home-page{
        .hero-carousel{
            .hero-nav{
                svg{
                    path{
                        fill: $primary !important;
                    }
                }
                &:hover{
                    border-color: $primary !important;
                }
            }
            .hero-track{
                .hero-slide{
                    .hero-container{
                        div{
                            div{
                                h1{
                                    .text-primary{
                                        color: $primary !important;

                                    }
                                }
                            }
                        }
                    }
                }
            }
            .hero-indicators{
                .bg-primary{
                    background-color: $primary !important;
                }
                .bg-secondary{
                    background-color: $secondary !important;
                }
            }
        }
        .carousel-arrow{
            svg{
                path{
                    fill: #ffffff !important;
                }
            }
        }
        .testimonials{
            .container{
                .testimonial-slider{
                    .hero-indicators{
                        button{
                            background-color: $secondary !important;
                        }
                        .bg-primary{
                            background-color: $primary !important;
                        }
                    }
                    .nav-arrow{
                        svg{
                            path{
                                fill: $primary !important;
                            }
                        }
                    }
                }
            }
        }
        .success-story{
            .container{
                .card{
                    .play-button-overlay{
                        div{
                            .bg-primary{
                                background: $primary !important;
                            }
                        }
                    }
                }
            }
        }
        .meet-experts{
            .meet-arrow{
                svg{
                    path{
                        fill: $primary !important;
                    }
                }
            }
        } 
        .community-section{
            .community-arrow{
                svg{
                    path{
                        fill: $primary !important;
                    }
                }
            }
            .members-badge{
                color: $primary;
            }
        }
    }

    //------------------------------ Course catalog--------------------------------------------------------------
    .pagination-primary{
        .pagination{
            .page-item{
                button{
                    span{
                        span{
                            svg{
                                path{
                                    fill: $primary !important;
                                }
                            }
                        }
                    }
                    &:hover{
                        background: $primary !important;
                        span{
                        span{
                            svg{
                                path{
                                    fill: #ffffff !important;
                                }
                            }
                        }
                    }
                    }
                    &:active{
                        background: $primary !important;

                    }
                    &:focus{
                        border-color: $primary !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
    }

    //------------------------------ Course details--------------------------------------------------------------
    .course-about-page{
        .main-content{
            .container{
                div{
                    div{
                        .tab-container{
                            div{
                                .accordion{
                                    .accordion-item{
                                        button{
                                            svg{
                                                path{
                                                    fill: $primary !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//------------------------------ Common--------------------------------------------------------------
.btn-outline-primary{
    border-color: $primary !important;
    color: $primary !important;
    &:hover{
        background: none !important;         
    }
    &:active{
        background: none !important;         
    }   
    &:focus{
        background: none !important;         
    }
}
.badge{
    color: $primary !important;
    background-color: rgba($primary, 0.15) !important;
}
.form-control{
    &:focus{
        border-color: $primary !important;
        box-shadow: none !important;
    }   
}
.btn-primary{
    &:hover{
        background-color: $primary !important;
    }
}
a:hover {
    text-decoration: none;
}



//------------------header-----------------temp-----------

#root {
    position: relative;
    z-index: 1;
    width: 100%;
    header.site-header-mobile {
        padding: 0 15px;
        height: auto;
        .logo-holder {
            margin: 15px 0 15px 35px;
            img {
                height: 21px;
            }
        }
        .menu {
            @include media-breakpoint-down(md) {
                position: static;
            }
            &.expanded {
                button {
                    .hamburger-menu {
                        .line {
                            &:nth-child(1), &:nth-child(4) {
                                top: 18px;
                                width: 0%;
                                left: 50%;
                            }
                            &:nth-child(2) {
                                transform: rotate(45deg);
                            }
                            &:nth-child(3) {
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
            }
            button {
                border: none !important;
                padding: 0 !important;
                box-shadow: none !important;
                outline: none !important;
                background: none !important;
                position: absolute;
                left: 15px;
                top: 18px;
                .hamburger-menu {
                    transition: 0.5s ease-in-out;
                    cursor: pointer;
                    height: 12px;
                    width: 20px;
                    display: none;
                    @include media-breakpoint-down(md) {
                        display: block;
                    }
                    .line {
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        background: #767676;
                        opacity: 1;
                        left: 0;
                        top: 0;
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: 0.25s ease-in-out;
                        transition: 0.25s ease-in-out;
                        &:nth-child(2), &:nth-child(3) {
                            top: 6px;
                        }
                        &:nth-child(4) {
                            top: 12px;
                        }
                    }
                }
            }
            .menu-content {
                position: absolute;
                top: 60px !important;
                width: 100%;
                border-radius: 0;
                box-shadow: none;
                border: none !important;
                border-bottom: 2px solid $primary !important;
                overflow: hidden;
                inset: unset !important;
                transform: none !important;
                right: 0 !important;
                min-width: 12px;
                padding: 0;
                margin: 25px 0 0 !important;
                a {
                    box-sizing: border-box;
                    padding: 10px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #374151;
                    @include media-breakpoint-down(md) {
                        padding: 16px;
                    }
                    &.h-desktop {
                        display: none;
                        @include media-breakpoint-down(md) {
                            display: block;
                        }
                    }
                    @include media-breakpoint-down(md) {
                        &:after {
                            content: '\00BB';
                            padding: 0 0 0 5px;
                        }
                    }
                }
            }
        }
    }
    header.site-header-desktop {
        z-index: 30;
        height: auto;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.06), 0px 1px 3px 0px rgba(0,0,0,0.1);
        .container-fluid {
            max-width: 1600px;
            margin: 0 auto;
            padding: 0 15px;
            .nav-container{
                .logo{
                    padding: 0 !important;
                }
            }
        }
        .secondary-menu-container {
            .nav-link:hover,
            .nav-link:focus,
            .nav-link.active,
            .expanded .nav-link {
            background: transparent;
            color: $primary;
            text-decoration: underline;
            }
        }
        .logo {
            position: static;
            height: auto;
            margin: 15px 0 15px 35px !important;
            @include media-breakpoint-up(lg) {
                margin: 0 18px 0 0 !important;
            }
            img {
                height: 21px;
            }
       }
        .main-nav {
            a.nav-link {
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                padding: 30px 0;
                color: #374151;
                margin: 0 16px 0 0;
                display: block;
                border-bottom: 2px solid transparent;
                background: none;
            }
        }
        .menu {
            button {
                border: none !important;
                padding: 9px 15px !important;
                box-shadow: none !important;
                outline: none !important;
                color: $primary;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                &:before {
                    display: none !important;
                }
                &:after {
                    display: inline-block;
                    vertical-align: middle;
                    content: "";
                    margin: 0 0 2px 8px;
                    border: 2px solid $primary;
                    border-width: 0 0 2px 2px;
                    transform: rotate(-45deg);
                    width: 7px;
                    height: 7px;
                }
                .avatar {
                    display: none !important;
                }
                svg {
                    display: none !important;
                }
            }
            .menu-content {
                position: absolute;
                top: 60px !important;
                width: 224px;
                border-radius: 6px;
                box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
                border: none;
                overflow: hidden;
                inset: unset !important;
                transform: none !important;
                right: 0 !important;
                min-width: 12px;
                padding: 0;
                margin: 6px 0 0 !important;
                a {
                    box-sizing: border-box;
                    padding: 10px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #374151;
                    @include media-breakpoint-down(md) {
                        padding: 16px;
                    }
                }
            }
        }
    }
    .user-dropdown {
        @include media-breakpoint-down(md) {
            position: static;
        }
        &.show {
            button {
                .hamburger-menu {
                    .line {
                        &:nth-child(1), &:nth-child(4) {
                            top: 18px;
                            width: 0%;
                            left: 50%;
                        }
                        &:nth-child(2) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
        button {
            border: none !important;
            padding: 9px 15px !important;
            box-shadow: none !important;
            outline: none !important;
            color: $primary;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            height: auto !important;
            @include media-breakpoint-down(md) {
                padding: 0 !important;
                background: none !important;
            }
            &:before {
                display: none;
            }
            &:after {
                border-color: $primary !important;
                margin-left: 8px !important;
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
            @include media-breakpoint-down(md) {
                position: absolute;
                left: 15px;
                top: 18px;
            }
            .hamburger-menu {
                transition: 0.5s ease-in-out;
                cursor: pointer;
                height: 12px;
                width: 20px;
                display: none;
                @include media-breakpoint-down(md) {
                    display: block;
                }
                .line {
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: #767676;
                    opacity: 1;
                    left: 0;
                    top: 0;
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: 0.25s ease-in-out;
                    transition: 0.25s ease-in-out;
                    &:nth-child(2), &:nth-child(3) {
                        top: 6px;
                    }
                    &:nth-child(4) {
                        top: 12px;
                    }
                }
            }
            img {
                display: none;
            }
            span.d-none.d-md-inline {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                display: inline-block !important;
                @include media-breakpoint-down(md) {
                    display:none !important;
                }
            }
        }
        .dropdown-menu {
            position: absolute;
            top: 60px !important;
            width: 224px;
            border-radius: 6px;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            border: none;
            overflow: hidden;
            inset: unset !important;
            transform: none !important;
            right: 0 !important;
            min-width: 12px;
            padding: 0;
            margin: 6px 0 0 !important;
            @include media-breakpoint-down(md) {
                width: 100%;
                margin: 26px 0 0 !important;
                border: none !important;
                border-bottom: 2px solid $primary !important;
                box-shadow: none;
                border-radius: 0;
            }
            .dropdown-divider { display: none !important; }
            a {
                box-sizing: border-box;
                padding: 10px;
                font-size: 14px;
                line-height: 20px;
                color: #374151;
                @include media-breakpoint-down(md) {
                    padding: 16px;
                }
                &.h-desktop {
                    display: none;
                    @include media-breakpoint-down(md) {
                        display: block;
                    }
                }
                @include media-breakpoint-down(md) {
                    &:after {
                        content: '\00BB';
                        padding: 0 0 0 5px;
                    }
                }
            }
        }
    }
}
[dir="ltr"] #root .user-dropdown .dropdown-menu {
    top: 54px;
}
#root {
    .nav-small-menu {
        border-bottom: 2px solid $primary !important;
        box-shadow: none !important;
        width: 100%;
        position: absolute;
        top: 56px;
        z-index: 999;
        a {
            border: none !important;
            padding: 16px;
            font-size: 14px;
            line-height: 20px;
            color: #374151;
        }
    }
}

// header{
//     div{
//         div{
//             a{
//                 .logo{
//                     width: 135px !important;
//                     height: auto !important;
//                 }
//             }
//         }
//     }
// }
a{
    .logo{
        width: 135px !important;
        height: auto !important;
    }
}

// for learning header logo size and course title alignment
header{
    .logo{
        height: auto !important;
        img{
            width: 135px !important;
            height: auto !important;
        }
    }
}
.secondary-menu-container{
    .btn-link{
        color: $primary !important;
    }
}
