.supporters-page{
  min-height: 100vh;
}
.page-mapped{
  font-size: 14px;
}
.supporters-page-heading{
  font-size: 3rem;
}
.supporter-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;

  @media (max-width: 992px) { // tablets
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 576px) { // mobile
    grid-template-columns: repeat(2, 1fr);
  }

  .supporter-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}
@media (max-width: 576px) {
  .supporters-page{
    section{
      padding: 2rem 0 !important;
    }
  }
  .supporters-page-heading{
    font-size: 1.875rem !important; // 30px
  }
}