.impact-numbers {
  background: #f5c518;
  padding: 0 !important;

  .impact-icon {
    font-size: 2rem;
    color: #1B3A5C;
  }

  h3 {
    line-height: 1.1;
    font-size: 2.25rem;
    color: #1b3a5c !important;
  }

  p {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.95rem;
    color: #1b3a5c !important;
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 2.6rem;
    }

    p {
      font-size: 1rem;
    }
  }

  @media (max-width: 767px) {
    h3 {
      font-size: 1.875rem !important;
    }

    p {
      font-size: 0.875rem !important;
    }
  }

  @media (min-width: 992px) {
    h3 {
      font-size: 3rem;
    }

    p {
      font-size: 1rem;
    }
  }
}